<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mapper.AuthorityMapper">

    <resultMap id="BaseResultMap" type="com.app.entity.Authority">
            <id property="权限代码" column="权限代码" jdbcType="INTEGER"/>
            <result property="权限名称" column="权限名称" jdbcType="VARCHAR"/>
            <result property="备注" column="备注" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        权限代码,权限名称,备注
    </sql>
</mapper>
