<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mapper.AuthorityMapper">

    <resultMap id="BaseResultMap" type="com.app.entity.Authority">
            <id property="人员代码" column="人员代码" jdbcType="VARCHAR"/>
            <result property="人员档案管理" column="人员档案管理" jdbcType="INTEGER"/>
            <result property="物料档案管理" column="物料档案管理" jdbcType="INTEGER"/>
            <result property="进出仓管理" column="进出仓管理" jdbcType="INTEGER"/>
            <result property="权限管理" column="权限管理" jdbcType="INTEGER"/>
            <result property="统计打印" column="统计打印" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        人员代码,人员档案管理,物料档案管理,
        进出仓管理,权限管理,统计打印
    </sql>
</mapper>
